@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Section</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200;300;400;600&family=Pacifico&family=Signika+Negative:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/onlineCourses.css">
  
</head>
<body>
    <!-- START SERVICES SECTION -->
    <section class="section-services">
        <div class="header-section text-center">
            <h2 class="title">COURSES</h2>
          
        </div>
        <div class="services-grid">
            <!-- Single Service -->
            <div class="single-service">
                <div class="content">
                    <img class="icon" src="../images/cake_green.jpeg" alt="Service Icon" />
                    <h3 class="title">Wedding Cakes</h3>
                    <p class="description">
                        Course on Tiered and Wedding Cakes
                        This course will not only fully prepare you for the wedding season but also inspire you to create modern, sophisticated, and stylish cakes!
                    </p>
                    <a href="~/Courses/Product_wedding">Learn more</a>
                </div>
                <span class="circle-before"></span>
            </div>
            <div class="single-service">
                <div class="content">
                    <img class="icon" src="../images/minicakes.jpg" alt="Service Icon" />
                    <h3 class="title">Mini-cakes</h3>
                    <p class="description">
                        5 Different Flavors in Half a Workday and a Ready Selection for Several Weeks Ahead!

                        The perfect dessert for those balancing pastry-making with a full-time job or for parents with young children!
                    </p>
                    <a href="~/Courses/Product_mini">Learn More</a>
                </div>
                <span class="circle-before"></span>
            </div>
            <div class="single-service">
                <div class="content">
                    <img class="icon" src="../images/cake_dino.jpeg" alt="Service Icon" />
                    <h3 class="title">Chocolate decoration</h3>
                    <p class="description">

                        Learn methods for crafting spheres, attaching them, and working with molds. Explore how to color polycarbonate molds using cocoa butter. Discover the technology for creating and coloring 3D figures using two distinct methods. 
                       
                    </p>
                    <a href="#">Learn More</a>
                </div>
                <span class="circle-before"></span>
            </div>
            <div class="single-service">
                <div class="content">
                    <img class="icon" src="../images/cake_unicorn.jpeg" alt="Service Icon" />
                    <h3 class="title">Baby cakes decoration</h3>
                    <p class="description">
                        Baby's cakes are the most in-demand topic in the bakery market!

                        After completing the course, you'll be able to take orders for unique baby's cakes with high prices and start earning!
                    </p>
                    <a href="#">Learn More</a>
                </div>
                <span class="circle-before"></span>
            </div>
            <div class="single-service">
                <div class="content">
                    <img class="icon" src="../images/cake_white.jpg" alt="Service Icon" />
                    <h3 class="title">Wafer paper cake decoration</h3>
                    <p class="description">Wafer paper offers endless creative possibilities for cake decoration, making it a favorite among professional and home bakers alike!</p>
                    <a href="#">Learn More</a>
                </div>
                <span class="circle-before"></span>
            </div>
            <div class="single-service">
                <div class="content">
                    <img class="icon" src="../images/cake_bomb.jpeg" alt="Service Icon" />
                    <h3 class="title">Famous Cake "Bomb"</h3>
                    <p class="description">A spectacular way to present a cake. By mastering these techniques, you can create stunning and unforgettable cake decorations that showcase your skill and creativity.</p>
                    <a href="#">Learn More</a>
                </div>
                <span class="circle-before"></span>
            </div>

        </div>
    </section>
   
</body>
</html>