

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- External CSS -->
    <link rel="stylesheet" href="~/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
    <title>Cake Castle</title>
    <style>
    </style>
</head>
<body>
    <section class="section-product">
    <div class="container_product">
        <div class="details">
            <h1>Торт "Замок"</h1>
            <p class="price">5990 р.</p>
                <a href="#" class="buy-button"><span>Купить</span></a>
            
            <div class="description">
                <h3>Подробные видео-уроки создания торта "Замок"</h3>
                <h3>Отлично подходят для новичка и опытного кондитера</h3>
                    <ul>
                        <li><img src="../images/right_arrow.png" alt="Next" class="arrow-icon">Основы укрепления и построения ярусного торта</li>
                        <li><img src="../images/right_arrow.png" alt="Next" class="arrow-icon">Нюансы покрытия торта в 2 яруса мастикой</li>
                        <li><img src="../images/right_arrow.png" alt="Next" class="arrow-icon">Создание башен, крыш, окон и двери из сахарной пасты</li>
                        <li><img src="../images/right_arrow.png" alt="Next" class="arrow-icon">Лепка фигурки лошадки-единорожки на каркасе и облегченного объемного облака</li>
                        <li><img src="../images/right_arrow.png" alt="Next" class="arrow-icon">Сахарная вата</li>
                        <li><img src="../images/right_arrow.png" alt="Next" class="arrow-icon">Декорирование торта, нюансы крепления башен</li>
                    </ul>
            </div>
        </div>
        <div class="image">
            <img src="~/images/cake_dino.jpeg" alt="Castle Cake">
        </div>
    </div>
    </section>
</body>
</html>
